language: rust
dist: trusty
sudo: false
rust:
    - nightly
    - beta
    - stable
    - 1.15.1
matrix:
    allow_failures:
        - rust: nightly
before_script:
    - |
        pip install 'travis-cargo<0.2' --user &&
        export PATH=$HOME/.local/bin:$PATH
script:
    - pushd libxenstore
    - |
        travis-cargo build &&
        travis-cargo test &&
        travis-cargo bench
    - popd
    - pushd rxenstored
    - |
        travis-cargo build &&
        travis-cargo test &&
        travis-cargo bench
addons:
    apt:
        packages:
            - libcurl4-openssl-dev
            - libelf-dev
            - libdw-dev
notifications:
    email:
        on_success: never
env:
    global:
        - TRAVIS_CARGO_NIGHTLY_FEATURE=""
